@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  background-image: url("../../public/images/logo.png");
  width: 175px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right ; /* Center the background image */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: relative; /* Allow absolute positioning of children */
}
